/* General container styling */
.homepage-container {
  min-height: auto;
  width: 100%;
    position: relative;
    margin: 0 auto;
    color: #FAF9F6; 
    font-family: 'Cinzel', serif; 
    background: transparent;
  }
  
  .homepage-header {
    position: relative;
    padding: 2rem;
    border-bottom: 5px solid #FFD700;
    border-radius: 30px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center; 
    flex-direction: column;
  }

.header-content{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 1rem; 
}

  .header-aquila{
    width: 6rem; 
    height: auto;
  }

  .header-aquila.left{
    margin-right: auto;
    margin-right: 1rem;
  }

  .header-aquila.right{
    margin-left: auto;
    margin-left: 1rem;
  }
  
  /* Header styling */
  .homepage-header h1 {
    text-align: center;
    font-weight: 500;
    color: #FFD700; /* Gold color for imperial design */
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px #000;
    text-shadow: 0 0 10px #FFD700, 0 0 20px black;
    animation: glow 6s infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #FFD700, 0 0 20px black;
    }
    to {
      text-shadow: 0 0 20px #FFD700, 0 0 40px black;
    }
  }

.homepage-header p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
}
  
  /* Error message styling */
  .error-message {
    color: #FF6347; /* Error in red */
    text-align: center;
  }
  
  /* No posts message */
  .no-posts-message {
    text-align: center;
    font-style: italic;
    color: #BBB;
  }
  
  /* Featured posts grid */
  .featured-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Post card design */
  .post-card {
    background-color: #2C2C2E;
    border: 10px solid #2C2C2E; /* Gold border for imperial theme */
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .post-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
  }
  
  /* Post image styling */
  .post-image-container {
    width: 100%;
    height: 30%;
    overflow: hidden;
    position: relative;
    margin-top: 1rem;
  }
  
  .post-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .post-card:hover .post-image {
    transform: scale(1.1);
  }
  
  /* Post content */
  .post-content {
    padding: 15px;
  }
  
  .post-title {
    font-size: 1.5rem !important;
    color: #FAF9F6;
    margin-bottom: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
  }
  
  .post-title:hover {
    color: #FFD700; /* Highlight title on hover */
  }
  
  .post-excerpt {
    font-size: 1rem;
    color: #CCCCCC;
    margin-bottom: 10px;
  }
  
  /* Post actions (e.g., like button) */
  .post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 768px) {
    .post-card {
      width: 80%;
      height: 75%;
    }
  }

@media (min-width: 769px) and (max-width: 992px) {
  .post-card {
    background-color: #2C2C2E;
    border: 10px solid #2C2C2E; /* Gold border for imperial theme */
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Shadow for depth */
    width: 40%;
    height: 80%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

}


@media (min-width: 993px) {
  .post-card {
    background-color: #2C2C2E;
    border: 10px solid #2C2C2E; /* Gold border for imperial theme */
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Shadow for depth */
    width: 40%;
    height: 60%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

}
  