.profile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 6%;
    height: 100vh;
    background-color: #000000; /* Dark side for Warhammer vibe */
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .profile-title {
    margin: 0 0 2rem 0;
    color: #C9B037; /* Gold */
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  /* Sidebar menu */
  .profile-sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 5rem;
  }
  
  .profile-sidebar-menu-item {
    margin-bottom: 3rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    font-size: 1rem;
    font-weight: 500;
  }
  
  /* Hover effect with red accent */
  .profile-sidebar-menu-item:hover {
    background-color: #660000; /* Dark red on hover */
    color: #fff;
  }

  /* Hamburger Menu Icon */
  .profile-sidebar-hamburger{
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #FFD700;
  transition: transform 0.3s;
}

.profile-sidebar-hamburger .bar.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.profile-sidebar-hamburger .bar.open:nth-child(2) {
  opacity: 0;
}

.profile-sidebar-hamburger .bar.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

  /* Show Hamburger Menu on Small Screens */
@media (max-width: 768px) {
  .profile-sidebar-menu {
    display: none;
  }

  .profile-sidebar-hamburger {
    display: flex; /* Show hamburger menu */
    margin-top: 4rem;
  }

}
  