/* Main Wrapper */
.profile-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 6rem;
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

.profile-title {
  margin: 0 0 1rem 0;
  color: #C9B037; /* Gold */
  font-size: 1.5rem;
  text-transform: uppercase;
}

/*  Main Content  */
.profile-dashboard-content {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

/* Header (User Info) */
.profile-dashboard-header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #444;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column; /* stack on small screens */
  gap: 1rem;
}

.profile-info {
  display: flex;
  flex-direction: column; /* stack name + avatar in a column on mobile */
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #C9B037; 
}

.profile-dashboard-title {
  font-size: 1.6rem;
  color: #C9B037; 
  margin: 0;
}

.profile-email {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.3rem;
  color: #bbb;
}

.profile-dashboard-subtitle {
  font-size: 1rem;
  font-style: italic;
  color: #999;
}

/* stats section */
.profile-dashboard-stats {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem;
  margin-bottom: 2rem;
}

.stat-card {
  flex: 1;
  background-color: #262626;
  border: 1px solid #333;
  border-radius: 6px;
  padding: .35rem;
  text-align: center;
  min-width: 120px; 
}

.stat-card h2 {
  margin: 0 0 0.5rem 0;
  color: #C9B037; 
  font-size: 1.25rem;
}

.stat-card p {
  font-size: 1.5rem;
  color: #C9B037; 
  margin: 0;
}

/* tabs */

.profile-tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a1a1a;
  padding: .75rem;
  border-radius: 6px;
}

.profile-tab-title {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  color: #FFD700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.profile-tab-error {
  color: #ff4500;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.profile-tab-nopost-message {
  font-size: 1.2rem;
  color: #B0C4DE;
  font-style: italic;
  text-align: center;
  margin-top: 1rem;
}

.profile-tab-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-tab-item {
  background: linear-gradient(145deg, #2d2d2d, #1a1a1a);
  border: 2px solid #cfcdc1; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 20px;
  transition: all 0.3s ease;
}

.profile-tab-item:hover {
  border-color: #FFD700;
  box-shadow: 0px 4px 10px rgba(255, 215, 0, 0.8);
}

.profile-tab-item-title {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  color: #FFD700;
  margin-bottom: 1rem;
}

.profile-tab-image {
  max-width: 200px;
  border: 2px solid #708090;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
  margin-bottom: 1rem;
}

.profile-tab-excerpt {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.profile-tab-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.profile-tab-button {
  padding: .75rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #8B0000; 
  border: 2px solid #FFD700;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}
.profile-tab-button:hover {
  background-color: #B22222; 
  box-shadow: 0px 4px 10px rgba(255, 69, 0, 0.8);
}

/* react tabs overrides */
.react-tabs__tab-list {
  border-bottom: 1px solid #444;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #1a1a1a;
}

.react-tabs__tab {
  padding: 0.1rem .1rem !important;
  cursor: pointer;
  color: #C9B037;
  background-color: #1a1a1a ;
  border: 1px solid #444;
  border-radius: 4px 4px 0 0 !important;
  transition: background-color 0.2s!important;
}
.react-tabs__tab--selected {
  background-color: #262626 !important; 
  border-bottom: none !important; 
  color: red !important; 
}


/* media querry */

@media (min-width: 769px) and (max-width: 992px) {
  .profile-tab-container {
    padding: 5rem;
  }

}


@media (min-width: 993px) {
  .profile-tab-container {
    padding: 5rem;
  }

}
  


