
 .user-post-management-wrapper {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
  color: #f2f2f2;
  margin-left: 2.5rem;
  font-family: 'Roboto', sans-serif;
}


  /* Main Content  */

.user-post-management-content {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.user-post-management-header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #444;
  padding-bottom: 1rem;
}

.user-post-management-title {
  font-size: 1.8rem;
  margin: 0;
  color: #C9B037; 
}

.user-post-management-subtitle {
  margin-top: 0.5rem;
  color: #999;
}


/* Stats Cards */

.post-analytics {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
  margin-bottom: 2rem;
}

.analytics-card {
  flex: 1;
  background-color: #262626;
  border: 1px solid #333;
  border-radius: 6px;
  text-align: center;
}

.analytics-card h2 {
  margin: 0;
  color: #C9B037;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.analytics-card p {
  font-size: 1.5rem;
  color: #ff3f3f; 
}


/* Posts Management List */

.posts-management-list {
  background-color: #1a1a1a;
  padding: 1rem 0;
}

.section-title {
  font-size: 1.5rem;
  color: #C9B037;
  margin-bottom: 1rem;
}

.error-message {
  color: #ff4500;
  margin-bottom: 1rem;
}


.posts-table {
  border: 1px solid #333;
  border-radius: 6px;
  overflow: auto;  
  background-color: #262626;
  color: #f2f2f2;
  width: 100%;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1fr 1fr 2fr;
  padding: 1rem;
  border-bottom: 1px solid #444;
  min-width: 680px;
}

.table-header {
  background-color: #333;
  font-weight: 600;
  color: #999;
}

.table-row {
  align-items: center;
  gap: 1rem;
}

.table-row:hover {
  background-color: #303030;
}

.user-post-image {
  max-width: 80px;
  border-radius: 4px;
}

/* Actions Cell */
.actions-cell {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}


/* Buttons */

.edit-button,
.preview-button,
.delete-button {
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;
  color: #fff;
  background-color: #8B0000; 
  transition: background-color 0.2s ease;
}

.edit-button {
  background-color: #006400; 
}
.edit-button:hover {
  background-color: #008000;
}

.preview-button {
  background-color: #00008B; 
}
.preview-button:hover {
  background-color: #0000CD; 
}

.delete-button:hover {
  background-color: #ff3f3f;
}

@media (min-width: 768px) {
  .user-post-management-wrapper {
    flex-direction: row;
  }

  .user-post-management-content {
    width: auto;
    flex: 1;
    padding: 2rem;
  }

  .user-post-management-title {
    font-size: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .posts-table {
    margin-left: 2rem;
  }

}


@media (min-width: 993px) {
  .posts-table {
    margin-left: 2rem;
  }

}
